#!/usr/bin/env python
# Configuration for virtual display
# Based on tutorial at http://www.ros.org/wiki/dynamic_reconfigure/Tutorials/SettingUpDynamicReconfigureForANode

PACKAGE='camera_aravis'
import roslib; roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *
from driver_base.msg import SensorLevels

gen = ParameterGenerator()

arvauto_enum = gen.enum([gen.const("Off",        int_t, 0, "Use Manual Settings"),
                         gen.const("Once",       int_t, 1, "Recalc Once"),
                         gen.const("Continuous", int_t, 2, "Recalc Continually") ],
                         "Automatic Settings")

gen.add("framerate",    double_t, SensorLevels.RECONFIGURE_RUNNING, "Framerate (fps)",    100.0, 0.0, 1000.0)
gen.add("autoexposure", int_t,    SensorLevels.RECONFIGURE_RUNNING, "Automatic exposure", 0, 0, 2, edit_method=arvauto_enum)
gen.add("autogain",     int_t,    SensorLevels.RECONFIGURE_RUNNING, "Automatic gain",     0, 0, 2, edit_method=arvauto_enum)
gen.add("exposure",     double_t, SensorLevels.RECONFIGURE_RUNNING, "Exposure time (us)", 2000.0, 0, 1e6)
gen.add("gain",         double_t, SensorLevels.RECONFIGURE_RUNNING, "Gain (%)",           100.0, 0.0, 10000.0)
#gen.add("xRoi",         int_t,    SensorLevels.RECONFIGURE_RUNNING, "ROI x offset",       0, 0, 4096)
#gen.add("yRoi",         int_t,    SensorLevels.RECONFIGURE_RUNNING, "ROI y offset",       0, 0, 4096)
#gen.add("widthRoi",     int_t,    SensorLevels.RECONFIGURE_RUNNING, "ROI width",          -1, -1, 4096)
#gen.add("heightRoi",    int_t,    SensorLevels.RECONFIGURE_RUNNING, "ROI height",         -1, -1, 4096)
gen.add("frame_id",     str_t,    SensorLevels.RECONFIGURE_RUNNING, "ROS camera frame",   "camera")

exit(gen.generate(PACKAGE, "camera_aravis_params", "CameraAravis"))
